@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a a la página sobre MODERN FAMILY y sus PERSONAJES</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Menú</h2>
    <ul>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Home</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Personajes" asp-action="CrearPersonaje">Crear Personaje</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Personajes" asp-action="Index">Lista de Personajes</a></li>

    </ul>
</div>
